*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

body{
    background-image: url(/name.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-content: center;
}

article{
    padding-top: 10%;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgb(0, 0, 0.13);
    max-width: 700px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    padding-top: 50%;
    padding-left: 1rem;
}

.image-profile{
    margin-top: 12rem;
    border-radius: 125px;
    border: 3px solid blueviolet;
}

.header-titulos{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    padding-top: 0;
}

.cv{
    border-radius: 5rem;
    font-weight: bold;
    margin-top: 42rem;
    background-color: blueviolet;
}

.nombre{
    border-radius: 5rem;
    margin-top: 3rem;
    font-size: medium;
    background-color: blueviolet;
}

.tecnologico{
    border-radius: 1rem;
    margin-top: 3rem;
    font-size: small;
    background-color: blueviolet;
}

.perfil-personal{
    display: flex;
    flex-direction: column;
    text-align:justify;
    padding-top: 1rem;
}

.descripcion{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    
}

.perfil{
    background-color:blueviolet;
    border: solid blueviolet;
    border-radius: 5rem;
    margin-right: 48rem;
    margin-left: 1rem;
}

.contacto{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.contact{
    background-color: blueviolet;
    border: solid blueviolet;
    border-radius: 5rem;
    margin-right: 53rem;
    margin-left: 1rem;
}

.datos{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.formacion-academica{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.formacion-acade{
    background-color: blueviolet;
    border: solid blueviolet;
    border-radius: 5rem;
    margin-right: 42rem;
    margin-left: 1rem;
}

.estudios{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.skill{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.Skill{
    background-color: blueviolet;
    border: solid blueviolet;
    border-radius: 5rem;
    margin-right: 57rem;
    margin-left: 1rem;
}

.habilidades{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.experiencia-laboral{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.experienciaLaboral{
    background-color: blueviolet;
    border: solid blueviolet;
    border-radius: 5rem;
    margin-right: 44rem;
    margin-left: 1rem;
}

.experiencia{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.experiencia p{
    margin-top: 1rem;
}